/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

body {
  background-image: url(images/tannertan69.jpeg);
  background-color: black;
  background-size:cover;
  color: white;
  font-family: Verdana;
}
.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
.centertt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: grey
}

/* selected link */
a:active {
  color: blue;
}
#footer {
  position: fixed; /* Fixes the element to the viewport */
  bottom: 0;       /* Positions the element 0 pixels from the bottom of the viewport */
  width: 100%;     /* Optional: Sets the width to 100% of the viewport */
}
button {
  width: 7.5%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}
.inorout {
  width: 7.5%;
  height: 45px;
  background: #333;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}